<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>              <string>Halftone</string>
    <key>CFBundleDisplayName</key>       <string>Halftone</string>
    <key>CFBundleIdentifier</key>        <string>me.aniket.halftone</string>
    <key>CFBundleVersion</key>           <string>11</string>
    <key>CFBundleShortVersionString</key><string>0.0.11</string>
    <key>CFBundleExecutable</key>        <string>Halftone</string>
    <key>CFBundlePackageType</key>       <string>APPL</string>
    <key>LSMinimumSystemVersion</key>    <string>26.0</string>
    <key>LSUIElement</key>               <true/>
    <!-- A background utility that polls (presence return) must not be
         App Napped: napping throttles timers by tens of seconds. -->
    <key>NSAppSleepDisabled</key>        <true/>
    <key>NSHumanReadableCopyright</key>  <string>Personal build</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>    <string>me.aniket.halftone</string>
            <key>CFBundleURLSchemes</key> <array><string>halftone</string></array>
        </dict>
    </array>
</dict>
</plist>
